<article itemscope>
<h2><a href="{{link}}">{{title}}</a></h2>
{{{bodyHTML}}}
<p>Posted <time itemProp="publishDate" datetime="{{datetime}}">{{date}}</time>.</p>
<ul class="tags">{{{tagsHTML}}}</ul>
{{{commentsHTML}}}
</article>
