<article itemscope>
<h2><a href="{{link}}">{{title}}</a></h2>
<blockquote cite="{{link}}">
{{{firstParagraph}}}
</blockquote>
<p><a href="{{link}}">Read more...</a></p>
<p>Posted <time itemProp="publishDate" datetime="{{datetime}}">{{date}}</time>.</p>
<ul class="tags">{{{tagsHTML}}}</ul>
{{{commentsHTML}}}
</article>
